name: generating documentation

on:
  push:
    branches:
    - main
    paths:
      - 'linkml-schema/kbmodel.yaml'
  pull_request:
    types:
      - closed
    branches:
      - main
    paths:
      - 'linkml-schema/kbmodel.yaml'

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install the required python packages
        run: python -m pip install .[docs]

      - name: Other installations
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git wget curl

      - name: Create local docs
        run: |
          mkdir docs
          touch docs/.nojekyll
          cp -r src/docs/* docs/
          gen-doc -d docs linkml-schema/kbmodel.yaml

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
