name: generating other formats for library_generation

on:
  pull_request_target:
    types: [opened, synchronize]
    paths:
      - 'linkml-schema/library_generation.yaml'


permissions:
  contents: write

jobs:
  generate_from_reusable:
    uses: brain-bican/models/.github/workflows/reusable-generate_other_formats.yaml@main
    with:
      model_name: library_generation